h1 {
	margin-bottom: 2rem;
}
.category-container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.category-wrapper {
	width: 100%;
	display: flex;
	max-width: var(--general-max-width);
}
.category-data, .category-image {
	width: 50%;
}
/* CATEGORY IMAGE */
.category-image {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 2em var(--general-margin);
}
.category-image > a {
	align-self: flex-end;
	text-decoration: none;
	font-weight: 300;
}
.category-image > a:hover {
	text-decoration: underline;
}
.img {
	object-fit: cover;
}
.img {
	-webkit-mask-image: url("/src/assets/category-mask.svg");
	-webkit-mask-size: 100% 90%;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: 0 0;
}
picture {
	position: relative;
}
picture::before {
	content: "";
	position: absolute;
	bottom: -34px;
	border-radius: 50%;
	left: 30px;
	background-color: rgba(0, 0, 0, 0.5);
	width: 100px;
	height: 100px;
	transform: translateY(-50%);
}
/* BORDER */
.category-data:after {
	content: "";
	position: absolute;
	height: 20%;
	width: 2px;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
}
/* CATEGORY TEXT */
.category-data {
	position: relative;
	padding: 2em var(--general-margin);
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.category-title {
	font-weight: 500;
}
.category-description {
	font-weight: 300;
}
@media (max-width: 400px) {
	.category-description {
		font-size: 0.85rem;
	}
	.img {
		height: 100px;
		width: 100px;
		-webkit-mask-size: 100% 90%;
		-webkit-mask-position: 1px 0;
	}
	picture::before {
		content: "";
		position: absolute;
		bottom: -22px;
		border-radius: 50%;
		left: 11px;
		background-color: rgba(255, 255, 255, 0.5);
		width: 80px;
		height: 80px;
		transform: translateY(-50%);
	}
}
