
h1 {
	margin: 0 var(--general-margin);
}
h1, h2 {
	border-bottom: 2px solid black;
	padding-bottom: 0.5rem;
	font-weight: 500;
}
h2 {
	margin-bottom: 1rem;
}
/* VARIABLES */
:root {
	--darkgreen: #104547;
	--lightgreen: #60894A;
	--pink: #AF929D;
	--general-margin: 5rem;
	--general-max-width: 1150px;
}
/* NORMALIZATION */
*, *:before, *:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}
/* General */
button.white, button.green, button.white--white {
	font-size: 1rem;
	padding-top: 0.75em;
	padding-bottom: 0.75em;
	border-radius: 2rem;
	cursor: pointer;
	transition: 0.1s ease-in;
}
button.white {
	background: white;
	border: 2px solid var(--darkgreen);
	font-weight: bold;
	color: var(--darkgreen);
}
button.white:hover {
	background: var(--darkgreen);
	border: 2px solid white;
	color: white;
}
button.white--white {
	background: white;
	border: 2px solid var(--darkgreen);
	font-weight: bold;
	color: var(--darkgreen);
}
button.green {
	color: white;
	background: var(--darkgreen);
	border: 2px solid var(--darkgreen);
	font-weight: 600;
}
button.green:hover {
	background: white;
	color: var(--darkgreen);
}
.serif {
	font-family: 'Abril Fatface', cursive;
}
.bold {
	font-weight: bold;
}
.lightgreen-font {
	color: var(--lightgreen);
}
/********************/
/****** Header ******/
/********************/
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	padding: 1rem var(--general-margin);
}
.header-icons {
	display: flex;
	list-style: none;
	gap: 1em;
}
.header-icons button {
	cursor: pointer;
	background: none;
	border: none;
	position: relative;
}
/* The green dot pointing to the hovered icon */
.header-icons button:hover::after {
	content: "";
	position: absolute;
	background: #60894A;
	height: 0.5rem;
	width: 0.5rem;
	top: -0.45rem;
	border-radius: 50%;
}
.right {
	display: flex;
	justify-content: space-between;
	gap: 2rem;
	align-items: baseline;
}
#burgerMenuButton {
	display: none;
}
nav {
	display: flex;
	gap: 1em;
}
nav.mobile {
	display: none;
}
nav a {
	color: black;
	text-decoration: none;
	font-size: 1.1rem;
}
nav a:hover {
	text-decoration: underline;
}
#searchbar {
	overflow: hidden;
	width: 175px; /* Same as it's child, the input */
}
#searchbar input {
	width: calc(100% - 4px); /* Same as it's parent */
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	font-size: 0.9rem;
	margin: 2px;
	padding: 0.25em 0 0.25em 0.75em;
}
.header-search-form {
	display: flex;
	gap: 1em;
}
.widthAppearance-enter-active,
.widthAppearance-leave-active {
	animation: showSearchbar 0.25s ease-out;
}
.widthAppearance-enter-from,
.widthAppearance-leave-to {
	animation: hideSearchbar 0.25s ease-out;
}
#searchbar input:focus {
	outline: 2px solid rgba(16, 69, 71, 0.5);
}
/********************/
/****** Footer ******/
/********************/
footer {
	background: var(--darkgreen);
	width: 100%;
	padding: var(--general-margin) var(--general-margin);
	display: flex;
	flex-direction: column;
	gap: 2.5em;
	align-items: center;
	color: white;
}
footer > section, footer > form {
	display: flex;
	flex-direction: column;
	text-align: center;
	gap: 1rem;
	width: 100%;
	max-width: 500px;
}
/* NEWSLETTER */
footer > form.newsletter {
	font-size: 1.1rem;
}
footer > form.newsletter label {
	font-size: 2rem;
	text-transform: uppercase;
	position: relative;
	bottom: 6px;
}
footer > form.newsletter input {
	font-size: 1rem;
	padding: 0.5em 0 0.5em 1em;
	background: none;
	border: 2px solid rgba(255, 255, 255, 0.5);
	color: white;
	text-align: center;
	margin-bottom: 1em;
}
/* LEGAL */
footer > section.legal {
	border-top: 1px solid white;
	width: 100%;
	padding-top: 2em;
}
footer > section.legal > ul {
	list-style: none;
}
footer > section.legal > ul a {
	color: white;
	text-decoration: none;
}
footer > section.legal > ul a:hover {
	text-decoration: underline;
}
footer > section.newsletter input:focus {
	outline: 2px solid rgba(255, 255, 255, 0.5);
}
.credits > a {
	color: white;
	text-decoration: none;
	font-size: 0.8rem;
}
.credits > a:hover {
	text-decoration: underline;
}

@keyframes showSearchbar {
	0% {
		width: 0px;
	}
	100% {
		width: 175px; /* Same as the container it's applied to --> #searchbar */
	}
}
@keyframes hideSearchbar {
	0% {
		width: 175px; /* Same as the container it's applied to --> #searchbar */
	}
	100% {
		width: 0px;
	}
}
@media (max-width: 600px) {
	:root {
		--general-margin: 1.5rem;
	}
	nav.mobile {
		display: flex;
		flex-direction: column;
		position: absolute;
		background: var(--darkgreen);
		z-index: 100;
		padding: 1.5em;
		top: 100%;
		right: 0;
	}
	nav.mobile a {
		color: white;
	}
	nav.desktop {
		display: none;
	}
	#burgerMenuButton {
		display: block;
	}
	header {
		margin-bottom: 2rem;
	}
	#searchbar {
		width: 100%;
	}
	.header-search-form {
		width: calc(100% - (var(--general-margin) * 2));
		position: absolute;
		bottom: -1.25rem;
		left: var(--general-margin);
	}
	.submit-search-button {
		height: 33px;
	}
}

/* IMAGE CAROUSEL */
